<template>
<div id="app">
    <router-view></router-view>
</div>
</template>

<script>
export default {

    data: function () {
        return {}
    }
}
</script>

<style lang="scss">
body {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
</style>
