<template>
<div>
    <h1>Game {{this.gamecode}}</h1>
    <h2>Welcome {{this.name}}!!</h2>
    <div v-if="gameStatus.started && !isJudge">
        <h1 class="has-text-weight-semibold">Hand</h1>
        <h2>PICK: {{currentRound.blackCard.pick}}</h2>
        <ul>
            <li v-for="(card, index) in playerHand" v-bind:key="card.id">
                <b-button :disabled="currentRound.blackCard.pick == cardIds.length" v-on:click="addCardsToList(card.id, index)">Choose</b-button><span v-html="card.text"></span>
            </li>
            <div v-if="!isDone">
                <b-button :disabled="!(currentRound.blackCard.pick == cardIds.length)" v-on:click="pickCard()">Send</b-button>
            </div>
        </ul>

    </div>
    <div v-if="gameStatus.started && isJudge">
        <h1>You're judge</h1>

        <div v-if="currentRound.finished">
            <ul>
                <li v-for="(playedCard, index) in currentRound.cardsPlayed" v-bind:key="playedCard.id">
                    <ul>
                        <li v-for="(card) in currentRound.cardsPlayed[index].playedCards" v-bind:key="card.id"><a class="button is-primary" v-on:click="pickCardJudge(playedCard.id)">Choose</a>{{card.text}}</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
</template>

<script>
import axios from 'axios'
import SockJS from "sockjs-client";
import Stomp from "webstomp-client";
var HTML = require('html-parse-stringify')

export default {
    name: 'game',
    data() {
        return {
            gamecode: localStorage.getItem('gamecode'),
            playerId: '',
            name: localStorage.getItem('name'),
            cardIds: [],
            gameStatus: {},
            playerHand: {},
            currentRound: {},
            currentJudge: '',
            isDone: false

        }

    },
    mounted() {
        this.getDefaultMinifiedGame()
        this.getMinifiedGameWebsocket()
        this.getLatestRoundWebsocket()
        if (this.gameStatus.started) {
            this.getPlayerHand()
            this.getLatestRound()
        }
    },

    computed: {
        isJudge: function () {
            return this.currentJudge == this.name
        }
    },

    methods: {
        addCardsToList(id, index) {
            this.playerHand.splice(index, 1)
            this.cardIds.push(id)
        },
        pickCard() {
            const config = {
                headers: {
                    'Content-Type': 'application/json'
                }
            }
            axios.post('http://localhost:8070/api/round/gamecode/' + this.gamecode + '/username/' + this.name, this.cardIds, config)
                .then(response => {
                    this.isDone = true
                    this.cardIds = []
                })
                .catch(e => {
                    console.log(e)
                })
        },
        pickCardJudge(id) {
            console.log(id)
            const config = {
                headers: {
                    'Content-Type': 'application/json'
                }
            }
            axios.post('http://localhost:8070/api/round/winner/gameid/' + this.gamecode + '/playedcardid/' + id, config)
                .then(response => {
                    console.log(response)
                    // this.judge = response.judge.userName
                })
                .catch(e => {
                    console.log(e)
                })
        },
        getDefaultMinifiedGame() {
            axios.get('http://localhost:8070/api/game/getminigame/' + this.$route.params.roomcode)
                .then(response => {
                    console.log(response)
                    this.gameStatus = response.data
                    this.gameStarted = response.data.started
                    this.getMinifiedGameWebsocket()
                    if (this.gameStatus.started) {
                        this.currentJudge = response.data.judge
                        this.getPlayerHand()
                        this.getLatestRound()

                    }
                })
                .catch(e => {
                    console.log(e)
                })
        },
        getPlayerHand() {
            axios.get('http://localhost:8070/api/player/gethand/gamecode/' + this.$route.params.roomcode + '/username/' + this.name)
                .then(response => {
                    console.log(response)
                    this.cardIds = []
                    this.playerHand = response.data
                    this.isDone = false
                })
                .catch(e => {
                    console.log(e)
                })
        },
        getMinifiedGameWebsocket() {
            this.socket = new SockJS("http://localhost:8070/test-info");
            this.stompClient = Stomp.over(this.socket);
            this.stompClient.connect({},
                frame => {
                    this.stompClient.subscribe("/game/clientlobby." + this.$route.params.roomcode, tick => {
                        // console.log(JSON.parse(tick));
                        console.log(tick.body)
                        this.getPlayerHand()
                        this.getLatestRound()
                        this.gameStatus = JSON.parse(tick.body)
                        this.currentJudge = this.gameStatus.judge
                    });
                },
                error => {
                    console.log(error);
                }
            );
        },
        getLatestRoundWebsocket() {
            this.socket = new SockJS("http://localhost:8070/test-info");
            this.stompClientRound = Stomp.over(this.socket);
            this.stompClientRound.connect({},
                frame => {
                    this.stompClientRound.subscribe("/game/round." + this.$route.params.roomcode, tick => {
                        this.currentRound = JSON.parse(tick.body)
                        // this.isDone = false
                        this.currentJudge = this.currentRound.judge.userName
                        this.getPlayerHand()
                        console.log(this.currentRound)
                    });
                },
                error => {
                    console.log(error);
                }
            );
        },
        getLatestRound: function () {
            axios.get('http://localhost:8070/api/round/getlatestround/gameid/' + this.$route.params.roomcode)
                .then(response => {
                    console.log(response)
                    this.currentRound = response.data
                })
                .catch(e => {
                    console.log(e)
                })
        }
    }

}
</script>
