<template>
<div>
    <div v-if="!this.game.started">
        <h1>Welcome to room: {{$route.params.roomcode}}</h1>
        <b-button :disabled="this.players.length < 3" v-on:click="startgame()" type="is-primary">StartGame</b-button>
        <div>

            <table>
                <tr>
                    <th>id</th>
                    <th>username</th>
                </tr>
                <tr v-for="itemx in players" v-bind:key="itemx.id">

                    <td>{{itemx.id}}</td>
                    <td>{{itemx.userName}}</td>
                </tr>
            </table>

        </div>
    </div>
    <div v-if="this.game.started">
        <div>
            <h1>Started</h1>
            <p>{{this.currentRound.blackCard.text}}</p>
            <p>{{this.currentRound.cardsPlayed.length}}</p>
        </div>
        <h2>PlayedCards: </h2>
        <ul>
            <li v-for="(playedCard, index) in currentRound.cardsPlayed" v-bind:key="playedCard.id">

                <ul>
                    <li v-for="(card) in currentRound.cardsPlayed[index].playedCards" v-bind:key="card.id">{{card.text}}</li>
                </ul>
            </li>
        </ul>
        <div>
            <h1>
                scores
            </h1>
            <ul>
                <li v-for="(player) in playerScores" v-bind:key="player.id">
                    {{player.userName}}: {{player.score}}
                </li>
            </ul>
        </div>
    </div>
</div>
</template>

<script>
import axios from 'axios'
import SockJS from "sockjs-client";
import Stomp from "webstomp-client";

export default {

    name: 'lobby',

    data: function () {
        return {
            gamecode: '',
            players: {},
            connected: false,
            connectedRound: false,
            latestRoundLoaded: false,
            gameLoaded: false,
            receive: '',
            currentRound: {},
            game: {},
            playerScores: {}
        }
    },
    computed: {
        playedCardsDone: function () {
            return this.currentRound.cardsPlayed === this.players.length - 1
        }
    },
    mounted() {
        this.getGame()
        this.connectRounds()
        if (!this.game.started) {
            this.connectPlayerLobby()
        }
        if (this.game.started) {
            this.getLatestRound()
            this.getPlayerScore()
            this.connectScore()

        }

    },

    methods: {

        startgame: function () {
            const config = {
                headers: {
                    'Content-Type': 'application/json'
                }
            }
            console.log(this.game.id)
            axios.get('http://localhost:8070/api/game/startgame/' + this.$route.params.roomcode, config)
                .then(response => {
                    console.log(response)
                    this.game = response.data
                    this.stompClient.disconnect()
                    this.getLatestRound()
                    // this.connectRounds()
                    this.getPlayerScore()
                    this.connectScore()
                })
                .catch(e => {
                    console.log(e)
                })
        },

        getGame: function () {
            const config = {
                headers: {
                    'Content-Type': 'application/json'
                }
            }
            axios.get('http://localhost:8070/api/game/getgame/' + this.$route.params.roomcode, config)
                .then(response => {
                    this.game = response.data
                    this.players = response.data.players
                    this.gameLoaded = true

                    if (response.data.started == true) {
                        this.getLatestRound()
                    }
                })
                .catch(e => {
                    console.log(e)
                })
        },
        getLatestRound: function () {
            axios.get('http://localhost:8070/api/round/getlatestround/gameid/' + this.$route.params.roomcode)
                .then(response => {
                    console.log(response)
                    this.currentRound = response.data
                    this.latestRoundLoaded = true
                })
                .catch(e => {
                    console.log(e)
                })
        },
        getAllPlayers: function () {
            this.currentPlayers = []
            axios.get('http://localhost:8070/api/game/getplayers/' + this.$route.params.roomcode)
                .then(response => {
                    console.log(response)
                    for (let i = 0; i < response.data.length; i++) {
                        this.currentPlayers.push(response.data[i].userName)
                    }
                })
                .catch(e => {
                    console.log(e)
                })
        },

        send() {
            console.log("Send message:" + this.send_message);
            if (this.stompClient && this.stompClient.connected) {
                const msg = this.$route.params.roomcode;
                this.players = []
                this.stompClient.send("/app/game.players." + this.$route.params.roomcode, JSON.stringify(msg), {});
            }
            console.log(this.players)
        },

        connectPlayerLobby() {
            this.socket = new SockJS("http://localhost:8070/test-info");
            this.stompClient = Stomp.over(this.socket);
            this.stompClient.connect({},
                frame => {
                    this.connected = true;
                    console.log(frame);
                    this.stompClient.subscribe("/game/players." + this.$route.params.roomcode, tick => {
                        console.log(tick);
                        this.players = JSON.parse(tick.body)
                        console.log(this.players)
                    });
                },
                error => {
                    console.log(error);
                    this.connected = false;
                }
            );
        },
        connectRounds() {
            this.socket = new SockJS("http://localhost:8070/test-info");
            this.stompLobbyRound = Stomp.over(this.socket);
            this.stompLobbyRound.connect({},
                frame => {
                    this.stompLobbyRound.subscribe("/game/round." + this.$route.params.roomcode, tick => {
                        this.currentRound = JSON.parse(tick.body)
                        console.log(this.currentRound)
                    });
                },
                error => {
                    console.log(error);
                }
            );
        },
        connectScore() {
            this.socket = new SockJS("http://localhost:8070/test-info");
            this.stompLobbyScore = Stomp.over(this.socket);
            this.stompLobbyScore.connect({},
                frame => {
                    this.stompLobbyScore.subscribe("/game/gamescore." + this.$route.params.roomcode, tick => {
                        console.log(tick);
                        this.playerScores = JSON.parse(tick.body)
                    });
                },
                error => {
                    console.log(error);
                }
            );
        },
        getPlayerScore: function () {
            axios.get('http://localhost:8070/api/game/getscorelist/' + this.$route.params.roomcode)
                .then(response => {
                    console.log(response)
                    this.playerScores = response.data
                })
                .catch(e => {
                    console.log(e)
                })
        },
        sendRound() {
            if (this.stompClientRound && this.stompClientRound.connected) {
                const msg = this.$route.params.roomcode;;
                this.currentRound = {}
                this.stompClient.send("/app/game.round." + this.$route.params.roomcode, JSON.stringify(msg), {});
            }
            console.log(this.players)
        }
    }
}
</script>
