<template>
<div>
    <img src="../assets/logo.png">
    <h1>Create or join a game</h1>
    <div class="boxes">
        <div class="boxes" v-for="(box, index) in boxnames" v-bind:key="box + index">
            <input type="checkbox" :value="box" v-model="chosenBoxes">
            <span>{{box}}</span>
        </div>
    </div>
    {{chosenBoxes}}
    <b-field label="How many rounds?">
        <b-input v-model="roundAmount" placeholder="10"></b-input>
    </b-field>
    <b-button type="is-primary" v-on:click="createGame()">New Game</b-button>
    <b-field label="Your name">
        <b-input v-model="name" placeholder="nickname"></b-input>
    </b-field>
    <b-field label="Join game">
        <b-input v-model="gamecode" placeholder="game code"></b-input>
    </b-field>
    <b-button :disabled="isDisabled" v-on:click="joinGame()" type="is-primary">Join</b-button>

</div>
</template>

<script>
import axios from 'axios'
import router from 'vue-router'

export default {
    name: 'app',
    data() {
        return {
            gamecode: '',
            roundAmount: 10,
            name: '',
            playerId: '',
            boxnames: [],
            chosenBoxes: [],
            createdgame: {
                roomcode: '',
                gameid: ''
            }
        }

    },
    computed: {
        isDisabled() {
            return this.name.length < 2 && this.gamecode.length < 5
        }
    },
    mounted() {
        this.getBoxNames()
    },
    methods: {
        joinGame: function () {
            if (this.name.length > 0) {
                this.newPlayerJoinGame();

            }
        },
        createGame: function () {
            this.createGameCall()
        },

        newPlayerJoinGame: function () {
            const config = {
                headers: {
                    'Content-Type': 'application/json'
                }
            }
            console.log(this.name)
            axios.post('http://localhost:8070/api/game/addplayer/' + this.gamecode, this.name, config)
                .then(response => {

                    console.log(response)
                    this.playerId = response.data.id
                    localStorage.setItem('gamecode', this.gamecode)
                    localStorage.setItem('name', response.data.userName)
                    this.$router.push({
                        name: 'game',
                        params: {
                            roomcode: this.gamecode
                        }
                    })
                })
                .catch(e => {
                    console.log(e)
                })
        },
        getBoxNames: function () {
            const config = {
                headers: {
                    'Content-Type': 'application/json'
                }
            }
            axios.get('http://localhost:8070/api/whitecard/boxes', config)
                .then(response => {
                    this.boxnames = response.data
                })
                .catch(e => {
                    console.log(e)
                })
        },
        createGameCall: function () {
            const config = {
                headers: {
                    'Content-Type': 'application/json'
                }
            }

            axios.post('http://localhost:8070/api/game/' + this.roundAmount, this.chosenBoxes, config)
                .then(response => {
                    console.log(response)
                    this.createdgame.roomcode = response.data.roomCode
                    this.createdgame.gameid = response.data.id
                    this.$router.push({
                        name: 'lobby',
                        params: {
                            roomcode: this.createdgame.roomcode
                        }
                    })
                })
                .catch(e => {
                    console.log(e)
                })
        }
    }

}
</script>

<style lang="scss">
.boxes {
    display: inline-block !important
}
</style>
